@media screen and (max-width:875px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 23px;
    }
    .nav-left{
        /* display: flex; */
        text-align: center;
        flex-direction: column;
    }
    .nav-left span{
        margin: 0 148px;
        
    }
    .content-right{
        display: none;
    }

    .home-article{
        flex-direction: column;
    }

    .home-article img{
        text-align: center;
    }
    .year-box{
        top: 10px;
        left: 50vw;
        font-size: 12px;
        display: flex;
    }
    .year-box div{
        margin: 0;
        /* padding: 0 3px; */
        font-size: 12px;
    }
    .row{
        flex-direction: column;
    }
    .social{
        padding: 0;

    }
    .post-img{
        height: auto;
    }
}